@media (max-width: 1200px) {
    .header {
        .list_menu {
            padding-left: 10px;
            padding-right: 10px;
        }
        .link_menu {
            font-size: 14px;
            line-height: 30px;
            padding: 0 23px;
        } 
    }
    .promo {
        padding-bottom: 140px;
        .title {
            font-size: 58px;
        }
        .subtitle {
            font-size: 34px;
        }
        .desc {
            font-size: 16px;
        }
    }
    .choice {
        padding-bottom: 108px;
    }
    .map {
        background-size: contain;
    }
    .footer {
        .navigation {
            .footer-nav {
                .nav-header_list {
                    .nav-header_item {
                        padding-right: 14px;
                        padding-left: 14px;
                        .nav-header_link {
                           font-size: 15px; 
                        }
                    }
                }   
            }
        }
    }      
}

@media (max-width: 991px) {
    .header {
        .link_menu {
            font-size: 12px;
            padding-left: 11px;
            padding-right: 11px;
        }
        .subheader {
            .logo_text {
                font-size: 12px;
            }
        }
    }
    .reasons {
        .reasons_block {
            flex-direction: column;
            .img_bg {
                align-self: center;
                margin-right: 0;
            }
            .reasons_content {
                margin-top: 10px;
            }
        }
    }
    .choice {
        min-height: 770px;
        padding-bottom: 70px;
        img {
            width: 100%;
        } 
    }
    .map {
        min-height: 500px;
    }
    .footer {
        .navigation {
            .footer-nav {
                .nav-header_list {
                    .nav-header_item {
                        padding-right: 6px;
                        padding-left: 6px;
                        .nav-header_link {
                            font-size: 14px; 
                         }
                    }
                }   
            }
        }
    }      
}

@media (max-width: 767px) {
    .header {
        .list_menu {
            padding-left: 0;
            padding-right: 0;
        }
        .link_menu {
            font-size: 10px;
            padding-right: 5px;
            padding-left: 5px;
        }
        .subheader {
            padding-top: 12px;
            padding-bottom: 12px;
            .link-logo {
                img {
                    width: 100%;
                }
            }
            .header_contact {
                font-size: 10px;
                text-align: center;
                .header_call {
                    font-size: 16px;
                }
            }
            .button {
                padding-top: 7px;
                padding-bottom: 7px;
            }
        }
    }
    .promo {
        padding-bottom: 110px;
        .title {
            font-size: 50px;
        }
        .subtitle {
            font-size: 30px;
        }
        .desc {
            font-size: 14px;
        }
    }
    .reasons {
        .reasons_block {
            .reasons_content {
                align-self: center;
            }
        }
    }
    .map {
        min-height: 440px;
    }
    .footer {
        .navigation {
            .footer-nav {
                .nav-header_list {
                    .nav-header_item {
                        .nav-header_link {
                            font-size: 13px; 
                         }
                    }
                }
                .nav-subheader_list {
                    .nav-subheader_item {
                        .nav-subheader_link {
                            font-size: 10px; 
                         }
                    }
                }  
            }
            .language {
                .language_link {
                    font-size: 10px;
                }
            }
        }
    }      
    .sm-hidden {
        display: none;
    }
    .sm-visible {
        display: block;
    }
}

@media (max-width: 575px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
        >.col {
            padding-right: 15px;
            padding-left: 15px;
        }
        >[class*="col-"] {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .header {
        .header_menu {
            min-height: 30px;
        }
        .list_menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgba(#212121, 0.8);
            width: 50%;
            top: 0;
            left: -50%;
            transition: left 1s;
            &_active {
                left: 0;
            }
            .item_menu {
                border-right: none;
                text-align: center;
                margin-top: 15px;   
                .link_menu {
                    text-decoration: none;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
        .burger {
            display: block;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 26px;
            height: 12px;
            cursor: pointer;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #ffffff;
                margin-top: 2px;
                transition: transform 0.5s;
            }
            &_active {
                span {
                    margin-bottom: -4px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
		    }
        }
        .subheader {
            top: 30px;
            height: 60px;
            padding-bottom: 9px;
            padding-top: 9px;
            .link-logo {
                line-height: 42px;
            }
            .logo_text {
                display: none;
            }
            .header_contact {
                .header_call {
                    font-size: 12px;
                }
            }
            .button {
                margin-top: 5px;
                font-size: 10px;
                padding: 4px 10px;
            }
        }
    }
    .promo {
        padding: 100px 0 40px 0;
        min-height: 400px;
        .title {
            font-size: 30px;
            line-height: 35px;
        }
        .subtitle {
            font-size: 20px;
            line-height: 23px;
            margin-top: 20px;
        }
        .desc {
            display: none;
        }
        .button {
            margin-top: 70px;
            font-size: 16px;
            padding: 13px 15px;
            width: 210px;
        }
    }
    .reasons {
        padding-bottom: 40px;
        .title {
            font-size: 15px;
            margin-top: 15px;
        }
        .reasons_block {
            margin-top: 20px;
            .reasons_content {
                width: 100%;
                .reasons_caption {
                    font-size: 16px;
                }
            }
        }
    }
    .app {
        padding: 25px 0 40px 0;
        .title {
            font-size: 16px;
            margin-top: 15px;
        }
        .subtitle {
            font-size: 14px;
        }
        .app_ability {
            margin-top: 30px;
            width: 290px;
            height: 254px;
            .caption {
                font-size: 18px;
            }
        }
    }
    .choice {
        min-height: 393px;
        padding: 25px 0 30px 0;
        background-color: #070716;
        background-image: none;
        .title {
            display: none;
        }
        .subtitle {
            display: none;
        }
        img {
            margin-top: 35px;
        }
        .desc {
            color: #ffffff;
        }
    }
    .requirements {
        padding: 20px 0 30px 0;
        .title {
            font-size: 16px;
            margin-top: 15px;
        }
        .block_requirements {
            margin-top: 30px;
            .caption {
                font-size: 16px;
            }
            .list_requirements {
                margin-top: 8px;
                padding-right: 5px;
                .item_requirements {
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 5px;
                    &::before {
                        top: -3px;
                    }
                }
            }
            .explanation {
                font-size: 14px;
                line-height: 16px;
                margin-top: 15px;
            }
        }
        .warning {
            margin-top: 30px;
        }
    }
    .map {
        min-height: 360px;
        padding: 24px 0 30px 0;
        background-size: cover;
        .title {
            font-size: 16px;
            margin-top: 15px;
        }
        .subtitle {
            font-size: 14px;
            margin-top: 8px;
        }
        .map_link {
            bottom: 30px;
            line-height: 30px;
        }
    }
    .footer {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        &::after {
            width: 255px;
            top: 20px;
        }
        .social_list {
            order: 2;
            justify-content: center;
            width: 100%;
        }
        .navigation {
            margin-top: 10px;
            order: 1;
            .footer-nav {
                .nav-header_list {
                    .nav-header_item {
                        .nav-header_link {
                            font-size: 14px; 
                         }
                    }
                }
                .nav-subheader_list {
                    .nav-subheader_item {
                        .nav-subheader_link {
                            font-size: 11px; 
                         }
                    }
                }  
            }
            .language {
                .language_link {
                    font-size: 11px;
                }
            }
        }
        .market-list {
            order: 3;
            justify-content: center;
            width: 100%;
        }
    }    
}